[user]
	name = Zizheng Wu
	email = me@zizhengwu.com
[core]
	excludesfile =
	pager = delta
[merge]
	conflictStyle = zdiff3
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
{{- if eq .chezmoi.os "windows" }}
[core]
	autocrlf = true
[gc]
	autoDetach = false
[http]
	cookiefile = C:\\Users\\zizheng\\.gitcookies
	proxy = http://127.0.0.1:7890
[diff]
	tool = bc
[difftool "bc"]
	path = C:\\Users\\zizheng\\scoop\\apps\\beyondcompare\\current\\BComp.exe
[merge]
	tool = bc
[mergetool "bc"]
	path = C:\\Users\\zizheng\\scoop\\apps\\beyondcompare\\current\\BComp.exe
{{- end }}
